.dropdown {
  position: relative;
  font-size: 1rem;

  .title {
    &.hidden {
      display: none;
    }
  }

  .trigger {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    gap: 0.25em;
    background-color: transparent;

    > *:not(span) {
      margin-top: -0.2rem;
    }
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
    font-size: 0.8em;
    padding: 0.7em;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
