.section {
  display: flex;
  height: 100%;
}

.buttons {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;

  & button {
    justify-content: center;
  }
}

.todo {
  box-sizing: border-box;
  padding: 1rem;
}

.priority {
  display: flex;
  align-items: center;
  font-size: 0;

  &::before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    margin-top: 0.2rem;
    margin-bottom: auto;
  }
  &.urgent::before {
    background-color: #cc55cf;
  }
  &.normal::before {
    background-color: #2764e7;
  }
  &.low::before {
    background-color: #454555;
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex: 0 0 500px;
  border-right: 1px solid #eee;
  box-shadow: 5px 0px 21px -13px rgba(0, 0, 0, 0.35);

  .sorting {
    display: flex;
    gap: 1rem;

    .order {
      margin-left: auto;
    }
  }

  .item {
    display: flex;
    gap: 0.2rem;
    border-bottom: 1px solid #aaaabc;
    color: #454555;
    padding: 0.5rem 0;
    max-width: 500px;
    min-width: 0;

    .text {
      display: block;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 100%;
      margin-right: 2rem;
    }

    .buttons {
      margin-left: auto;
    }
  }

  .button {
    font-size: 1.2rem;
    font-weight: 500;
    margin: auto -1rem -1rem;

    & span {
      gap: 10px;
    }
  }
}

.view {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  gap: 1rem;
  background-color: #f9f9f9;

  .top {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;

    .title {
      .priority {
        gap: 0.2rem;
        color: #8e8e8e;
        font-size: 0.75rem;
        font-weight: normal;

        &::before {
          width: 5px;
          height: 5px;
          margin-bottom: auto;
        }
      }
    }

    .time {
      display: flex;
      justify-content: end;
      color: #8e8e8e;
      font-size: 0.75rem;
      margin-left: auto;
    }
  }

  .center {
    height: 100%;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
  }

  .bottom {
    display: flex;
    justify-content: end;
    gap: 0.2rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 2rem;

  label {
    color: #212121;
    font-size: 0.8rem;
    font-weight: 700;
  }

  input,
  textarea {
    border: 1px solid #afafaf;
    border-radius: 0;
    box-sizing: border-box;
    padding: 0.7rem;
    margin-bottom: 1rem;
  }

  textarea {
    max-width: 100%;
    max-height: 100%;
  }
}
